.modal-footer .btn,
.list_toolbar .btn,
#tree-selector-btn {
    appearance: none;
    -moz-appearance: none;
    padding: 3px 10px;
    border: solid 1px rgba(0,0,0,0.1) !important;
    box-shadow: none !important;
    font-size: 12px;
    line-height: 20px;
    color: #24292e;
    background-color: #eff3f6;
    border-radius: 0.25em;
    font-weight: 600;
}
.modal-footer .btn:hover,
.list_toolbar .btn:hover,
#tree-selector-btn:hover {
    box-shadow: inset 0 0 2px rgba(0,0,0,0.1) !important;
}

.btn .fa,
.icon-fixed-width {
    width: 16px;
    height: 16px;
    background-size: 12px;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-block;
}
.btn:hover .fa {
    opacity: 1
}
.btn .fa::before,
.icon-fixed-width::before {
    display: none;
}

.btn.info,
.btn-info {
    background-color: #009e60;
    color: white;
}
.btn.info:hover,
.btn-info:hover {
    background-color: #0669d9;
}
.btn.warning,
.btn-warning {
    background-color: #009e60;
    color: white;
}
.btn.warning:hover,
.btn-warning:hover {
    background-color: #ff0068;
}
.btn.danger,
.btn-danger {
    background-color: #ff0068;
    color: white;
}
.btn.danger:hover,
.btn-danger:hover {
    background-color: #ff0068;
}
.btn.success,
.btn-success {
    background-color: #2dc350;
    color: white;
}
.btn.success:hover,
.btn-success:hover {
    background-color: #30c653;
}

i.fa.fa-power-off.icon-remove.icon-large {
	background-image: url('icons/power.png');
	transform: translate(2px ,1px);
}
i.fa.fa.fa-home.icon-home.fa-lg {
	background-image: url('icons/home.png');
	transform: translate(2.4px, 2px);
}
i.fa.fa.fa-arrow-left.icon-arrow-left.fa-lg {
	background-image: url('icons/left.png');
	transform: translate(2.4px, 5px);
}
i.fa.fa.fa-arrow-right.icon-arrow-right.fa-lg {
	background-image: url('icons/right.png');
	transform: translate(2.4px, 4px);
}
i.fa.fa.fa-arrows.icon-move.fa-lg {
	background-image: url('icons/arrows.png');
	transform: translate(2.4px, 3px);
}
i.fa.fa.fa-square-o.icon-check-empty.fa-lg {
	background-image: url('icons/zoom.png');
	transform: translate(2.4px, 3px);
}
i.fa.fa.fa-floppy-o.icon-save.fa-lg {
	background-image: url('icons/save.png');
	transform: translate(2.4px, 3px);
}
