body {
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    overflow: hidden;
    color: #24292E;
}
a {
    color: #0f62fe;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
pre {
    font-size: 14px;
    font-family: "Fira Code", monospace;
}
